<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <ul id="department">

                      <li><a href="" name="">Department</a>
                          <ul>
                              <li><a href="" name="">Computer Science</a>
                                  <ul>
                                      <li><a href="" name="">B.S. in Cybersecurity</a></li>
                                      <li><a href="" name="">B.S. in Computer Science</a></li>
                                  </ul>
                              </li>
                              <li><a href="" name="">Commerce</a>
                                  <ul>
                                      <li><a href="" name="">Computer Commerce</a></li>
                                      <li><a href="" name="">Math Commerce</a></li>
                                  </ul>
                              </li>
                              <li><a href="" name="">Mathematics</a></li>
                              <li><a href="" name="">Psychology</a></li>
                              <li><a href="" name="">Sociology</a></li>
                              <li><a href="" name="">Biology</a>
                                  <ul>
                                      <li><a href="" name="">B.S. Biology</a></li>
                                      <li><a href="" name="">M.S. Biology</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                    </ul>




     <label for="depart">Department:</label>
  <select name="depart" id="depart">
    <optgroup label="Computer Science">
      <option name="course" value="">B.S. in Computer Science</option>
      <option name="course" value="">B.S. in Cybersecurity</option>
    </optgroup>
    <optgroup label="History">
      <option name="course" value="B.A. History Education – Teacher Education">B.A. History Education – Teacher Education</option>
      <option name="course" value="B.A. History">B.A. History</option>
    </optgroup>
    <optgroup label="Biology">
      <option name="course" value="">B.S. Biology</option>
      <option name="course" value="">M.S. Biology</option>
    </optgroup>
    <optgroup label="Mathematics">
      <option name="course" value="Bachelor of Science Math">Bachelor of Science Math</option>
      <option name="course" value="Bachelor of Arts Math">Bachelor of Arts Math</option>
    </optgroup>
    <optgroup label="Psychology">
      <option name="course" value="Bachelor of Arts in Psychology">Bachelor of Arts in Psychology</option>
      <option name="course" value="Bachelor of Science in Psychology">Bachelor of Science in Psychology</option>
    </optgroup>
    <optgroup label="Sociology">
      <option name="course" value="Bachelor of Science – Sociology">Bachelor of Science – Sociology</option>
      <option name="course" value="Bachelor of Arts – Sociology">Bachelor of Arts – Sociology</option>
    </optgroup>

  </select>
</body>
</html>